[Unit]
Description=Open Desk Dash
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/opt/opendeskdash
ExecStart=gunicorn --workers 2 --bind 0.0.0.0:56970 --chdir /opt/opendeskdash/open_desk_dash service:ODDash
KillMode=mixed
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target