{% extends "config_base.html" %} {% block title %}Base {% endblock %}
{%block body %}

<div class="title">
  <h1>Base Setting</h1>
</div>
<hr>
<form action="/config" method= "POST">
  <br>
  <div style="float:left;width: 100%;">
    <label for="transition">Transition Speed</label>
    <input type="number" name="transition" min="5" value="{{config.config.transition}}">
  </div>
  <br>
  <div style="float:left;width: 100%;">
    <label for="page_order">Page Order</label>
    <input type="text" name="page_order" value="{{config.config.pages}}"/></input>
  </div>
  
  <button class="button-positive" type="submit">Save</button><br>
</form>
{% endblock %}
