<!DOCTYPE html>

<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={{ url_for('static', filename='css/styles.css')}}>
    <link
      rel="stylesheet"
      href="{{ url_for('static',
    filename='css/')}}{{config.oddash.theme}}.css"
    />
    <script src={{ url_for('static', filename='js/control.js') }}></script>
    <script src={{ url_for('static', filename='js/extra.js') }}></script>
    <script>
     if ({{config.oddash.transition}} != 0){
        setTimeout(autoTransition, {{config.oddash.transition}} * 1000);
      }
    </script>
  </head>
  <body class="contain" id="fadein">
    {% block body %}{% endblock %}
  </body>

  <div id="snackbar_{{msg_type}}">{{msg}}</div>
  <script type="text/javascript">
    snackbar()
  </script>
</html>
