{% extends "config_base.html" %} {% block title %}Base {% endblock %} {%block
body %}

<div class="title">
  <h1>Base Setting</h1>
</div>
<hr />

<form action="/config" method="POST">
  <div style="display: table-row">
    <label for="page_order" class="switch">Auto Update: </label>
    {% if config.oddash.auto_update %}
    <input type="checkbox" name="autoUpdate" checked />
    {% else %}
    <input type="checkbox" name="autoUpdate" />
    {% endif %}
  </div>

  <div style="display: table-row">
    <label for="page_order">Auto Update Plugins: </label>
    {% if config.oddash.auto_update_plugins %}
    <input type="checkbox" name="autoUpdatePlugins" checked />
    {% else %}
    <input type="checkbox" name="autoUpdatePlugins" />
    {% endif %}
  </div>

  <div style="display: table-row">
    <label for="transition">Transition Speed: </label>
    <input
      type="number"
      name="transition"
      min="0"
      size="4"
      value="{{config.oddash.transition}}"
    />
    <small>Seconds. 0 to Disable.</small>
  </div>

  <hr />

  <div class="pages_container" style="display: table-row">
    <label for="pages">Page Order: </label>
    <br />
    <table style="width: 100%">
      <tr>
        <th>Page</th>
        <th>GET Arguments</th>
      </tr>
    </table>
    <br />

    <button onclick="addElement()" type="button" class="button-diddy">
      <i class="bx bxs-plus-circle"></i>
    </button>

    <select name="pages" style="width: 200px">
      {% for plugin in config["plugins"].plugins.values() %} {% for page in
      plugin['pages'] %} {% if page == pages[0]%}
      <option value="{{page}}" selected>{{page}}</option>
      {% else %}
      <option value="{{page}}">{{page}}</option>
      {% endif %} {% endfor %} {% endfor %}
    </select>
    <input
      type="text"
      style="width: 300px"
      name="pages_vars"
      value="{{page_vars[0]}}"
    />

    {% for sel_page in pages[1:] %}
    <div style="float: left" id="{{loop.index-1}}">
      <button
        type="button"
        onclick="deleteElement({{loop.index-1}})"
        class="button-diddy"
      >
        <i class="bx bx-x"></i>
      </button>
      <select name="pages" style="width: 200px">
        {% for plugin in config["plugins"].plugins.values() %} {% for page in
        plugin['pages'] %} {% if page == sel_page%}
        <option value="{{page}}" selected>{{page}}</option>
        {% else %}
        <option value="{{page}}">{{page}}</option>
        {% endif %} {% endfor %} {% endfor %}
      </select>
      <input
        type="text"
        style="width: 300px"
        name="pages_vars"
        value="{{page_vars[loop.index]}}"
      />
    </div>
    {% endfor %}
  </div>

  <hr />
  <small>GET arguments, name=myName,link=MyLink.</small>
  <br />
  <button class="button-positive" type="submit">Save</button>
</form>

<script>
  var indx = {{pages|length-1}}

  function addElement() {
    var wrapper = document.getElementsByClassName("pages_container")[0];
    new_form = `<div style="float:left" id="${globalThis.indx}">
                <button type="button" onclick="deleteElement(${globalThis.indx})" class="button-diddy"><i class="bx bx-x"></i></button>
                  <select name="pages" style="width: 200px">
                      {% for plugin, data in config["plugins"].plugins.items() %}
                        {% for page in data['pages'] %}
                          <option value="{{page}}" SELECTED>{{page}}</option>"
                        {% endfor %}
                      {% endfor %}
                  </select>
                  <input style="width: 300px;" type="text" name="pages_vars">
                </div>`;
    wrapper.innerHTML += new_form;
    globalThis.indx += 1
  }

  function deleteElement(index) {
    var wrapper = document.getElementsByClassName("pages_container")[0];
    wrapper.removeChild(document.getElementById(index));
    globalThis.indx -= 1
  }
</script>

{% endblock %}
