{% extends "config_base.html" %}

{% block title %} Plugins {% endblock %}

{%block body %}
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
></script>

<div class="title" style="display: flex">
  <h1>Plugins</h1>
  <button
    data-target="#myModal"
    role="button"
    class="btn"
    data-toggle="modal"
    class="btn"
    style="width: 50px; height: 33px; float: right; background: transparent;
    border: none !important;
    font-size:0;"
  >
    <i class="bx bxs-plus-circle"></i>
  </button>
</div>

<hr />

{% for plugin in config.plugins.values() %}
<div>
  <a href="{{plugin.github}}"><h4>{{plugin.title}}</h4></a>
  <p>
    Author: {{plugin.author}}
  </p>
  <p>
    Version:
    {% if plugin.tag %}
    {{plugin.tag}} - {{plugin.tagName}}
    {% else %}
      {{plugin.version}}
    {% endif %}
  </p>
  
  <br/>
  
  <p>{{plugin.description|safe}}</p>

  <br />

  {% if plugin.pages %}
  Pages: {{",
  ".join(plugin.pages)}}
  {% else %}
  Pages: Restart ODDash
  {% endif %}

  <br>

  {% if plugin.config_page %}
  <a href="/config/{{plugin.name}}"><button class="button-info button-small">Setting's</button></a>
  {% endif %}

  {% if plugin.latestTag %}
  <!-- {{plugin.latestTagName}} -->
  <a href="/config/update/{{plugin.name}}"><button class="button-warning button-small">Update - {{plugin.latestTag}}</button></a>
  {% endif %}

  {% if plugin.name not in config.def_plugins %}
  <a href="/config/delete/{{plugin.name}}"><button class="button-danger button-small">Delete</button></a>
  {% endif %}
  
  <br style="margin-bottom: 10px;">
</div>
<hr />

{% endfor %}


<div
  class="modal modal-fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="myModalLabel">Install Plugin</h3>
      </div>
      <form action="/config/plugins" method="POST">
      <div class="modal-body">
        <h5>Github Link</h5>
        <input name="github_link" type="text" size="40"></input>
      </div>
      <p>
      <div class="modal-footer">
        <button class="button-positive" type="submit">Install</button>
      </form>
      <button class="button-danger" data-dismiss="modal" aria-hidden="true">
        Close
      </button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
